.caja{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
align-items: center;
    grid-auto-flow: dense;
    gap: 5px 5px;
    background-color: #f5ddfa66;
}


.item-1{
    grid-area: a;
    grid-column: 5 /6;
    grid-row: 5/ 6;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
    
}
.item-2{
    grid-area: b;
    grid-column: 1/ 2;
    grid-row: 1/ 2;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
}

.item-3{
    grid-area: c;
    grid-column: 1/ 2;
    grid-row: 5/ 6;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
}
.item-4{
    
    grid-column: 5/ 6;
    grid-row: 1/ 2;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
}
.item-5{
    
    grid-column: 3/ 4;
    grid-row: 1/ 6;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
}

.item-6{
    grid-column: 1/ 2 ;
    grid-row: 7/ 8 ;
    justify-self: center;
}

.item-7{
    grid-column: 3/ 4;
    grid-row: 7/ 8;
    
}

.item-8{
    grid-column: 5/ 6;
    grid-row: 7/ 8;
    justify-self: center;
}

.item-9{
    grid-column: 1/ 2;
    grid-row: 9/ 10;
    justify-self: center;
}

.item-10{
    grid-column: 5/ 6;
    grid-row: 9/ 10;
    justify-self: center;
}

.item-11{
    grid-column: 3/ 4;
    grid-row: 9/10;
}

@media screen and (max-width:400px) {
    .caja{
    
    }
    
}